@using Cinema.Client.Dialogs
@using Cinema.Shared.DTO
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<style>
    .selected {
        background-color: #ff4081 !important;
    }

        .selected > td {
            color: white !important;
        }

            .selected > td .mud-input {
                color: white !important;
            }
</style>

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.Medium">

    <MudGrid>
        <MudTable 
            Items="@Movies" 
            Hover="true" 
            Breakpoint="Breakpoint.Sm" 
            @ref="mudTable" 
            RowClassFunc="@SelectedRowClassFunc" 
            OnRowClick="RowClickEvent" 
            T="MovieDTO" 
            Loading=@Loading
            LoadingProgressColor="Color.Secondary"
            Dense=true
            Filter="new Func<MovieDTO,bool>(FilterFunc1)" 
            @bind-SelectedItem="selected"
            FixedHeader=true
            Style="width: 100%;"
            HorizontalScrollbar=true
            RowsPerPage="5"
            ServerData="UpdateData">
            
            <ToolBarContent>
                <MudText Typo="Typo.h6">Movie List</MudText>
                <MudSpacer />

                <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" 
                    AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0">
                </MudTextField>

                <MudSpacer />

                <MudTooltip Text="Add" Placement="Placement.Top" Color="Color.Secondary">
                    <MudIconButton Icon="@Icons.Material.Outlined.Add" Color="Color.Secondary" OnClick="OpenCreateDialog" />
                </MudTooltip>
                <MudTooltip Text="Edit" Placement="Placement.Top" Color="Color.Secondary">
                    <MudIconButton Icon="@Icons.Material.Outlined.Edit" Color="Color.Secondary" Disabled=@_buttonDisabled OnClick="OpenUpdateDialog"/>
                </MudTooltip>
                <MudTooltip Text="Delete" Placement="Placement.Top" Color="Color.Secondary">
                    <MudIconButton Icon="@Icons.Material.Outlined.Delete" Color="Color.Secondary" Disabled=@_buttonDisabled OnClick="OpenDeleteDialog" />
                </MudTooltip>

            </ToolBarContent>

            <HeaderContent>
                <MudTh Style="width:auto">Name</MudTh>
                <MudTh Style="width:auto">Age Rating</MudTh>
                <MudTh Style="width:auto">Duration</MudTh>
                <MudTh Style="width:auto">Trailer</MudTh>
                <MudTh>Description</MudTh>
            </HeaderContent>

            <RowTemplate>
                <MudTd DataLabel="Name" Style="width: 200px">@context.Name</MudTd>
                <MudTd DataLabel="AgeRating">@context.AgeRating</MudTd>
                <MudTd DataLabel="Duration">@context.Duration</MudTd>
                <MudTd DataLabel="Trailer">@context.Trailer</MudTd>
                <MudTd DataLabel="Description">
                    <div style="overflow-x: auto; white-space: nowrap;">
                        @context.Description
                    </div>
                </MudTd>
            </RowTemplate>

            <PagerContent >
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, int.MaxValue }" oninput="RowSizeChange" HorizontalAlignment="HorizontalAlignment.Center"/>
            </PagerContent>

        </MudTable>
    </MudGrid>

</MudContainer>

@code {
    private string searchString1 = "";
    private MovieDTO selected = null;
    private int selectedRowNumber = -1;
    private MudTable<MovieDTO>? mudTable;

    private bool FilterFunc1(MovieDTO movie) => FilterFunc(movie, searchString1);
    private bool _buttonDisabled = true;

    private DialogOptions _options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true, DisableBackdropClick = true};

    [Parameter] public List<MovieDTO> Movies { get; set; } = new List<MovieDTO>();
    [Parameter] public bool Loading { get; set; }

    private void RowClickEvent(TableRowClickEventArgs<MovieDTO> tableRowClickEventArgs)
    {
        selected = tableRowClickEventArgs.Item;

        if (selected != null)
        {
            _buttonDisabled = false;
        }
        else
        {
            _buttonDisabled = true;
        }
    }

    private string SelectedRowClassFunc(MovieDTO element, int rowNumber)
    {
        if (selected != null && selected.Equals(element))
        {
            return "selected";
        }
        else
        {
            return string.Empty;
        }
    }

    private bool FilterFunc(MovieDTO movie, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (movie.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true; 
        if (movie.ID.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    private void OpenCreateDialog()
    {
        DialogService.Show<CreateDialog>("Add New Movie", _options);
    }

    private void OpenUpdateDialog()
    {
        var parameters = new DialogParameters();
        parameters.Add("Movie", selected);
        parameters.Add("MudTable", mudTable);

        DialogService.Show<UpdateDialog>("Update Movie Details", parameters, _options);
    }

    private void OpenDeleteDialog()
    {
        var parameters = new DialogParameters();
        parameters.Add("Movie", selected);

        DialogService.Show<DeleteDialog>("Delete Movie", parameters, new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Medium, DisableBackdropClick = true });
    }


    private const string API_URL2 = "api/movie";
    private HttpClient _client;

    protected async Task<TableData<MovieDTO>> UpdateData(TableState movies)
    {
        var updatedMovies = await GetMoviesAsync();
        return new TableData<MovieDTO>() { TotalItems = updatedMovies.Count , Items = updatedMovies };
    }

    protected override async Task OnInitializedAsync()
    {
        _client = new HttpClient() { BaseAddress = new Uri("https://localhost:7016") };
    }

    public async Task<List<MovieDTO>> GetMoviesAsync()
    {
        return await _client.GetFromJsonAsync<List<MovieDTO>>(API_URL2 + "/movies");
    }

}